<div class="container-fluid">
  <div class="border">
    <div>
      <div>
        <img class="img-fluid player1" src="{{ heroes[30].images.sm }}">
      </div>

      <button>Attaque Physique</button>
      <button>Attaque Magique</button>
      <br>
      <button>Renforcement Physique</button>
      <button>Renforcement Magique</button>
    </div>
    <img class="img-fluid vs" src="http://static.comicvine.com/uploads/original/13/135728/4521099-9366942388-44897.png">
    <div>
      <div>
        <img class="img-fluid player2" src="{{ heroes[59].images.sm }}">
      </div>
      <button>Attaque Physique</button>
      <button>Attaque Magique</button>
      <br>
      <button>Renforcement Physique</button>
      <button>Renforcement Magique</button>
    </div>
  </div>
</div>