<div class="container">
  <div class="row">

    <!-- Colone heros de gauche -->
    <div class="col-4">
      <div class="row">
        <div class="col-4 bg-warning">
          <img class="img-fluid" src="{{ heroes[0].images.sm }}">
        </div>
        <div class="col-4 bg-secondary">
          <p>Heros2</p>
        </div>
        <div class="col-4 bg-warning">
          <p>Heros3</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 bg-warning">
          <p>Heros1</p>
        </div>
        <div class="col-4 bg-secondary">
          <p>Heros2</p>
        </div>
        <div class="col-4 bg-warning">
          <p>Heros3</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 bg-warning">
          <p>Heros1</p>
        </div>
        <div class="col-4 bg-secondary">
          <p>Heros2</p>
        </div>
        <div class="col-4 bg-warning">
          <p>Heros3</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 bg-warning">
          <p>Heros1</p>
        </div>
        <div class="col-4 bg-secondary">
          <p>Heros2</p>
        </div>
        <div class="col-4 bg-warning">
          <p>Heros3</p>
        </div>
      </div>
    </div>
    <!-- Colonne heros selectionner -->
    <div class="col-4 bg-success">
      <div class="row">
        <div class="col-6">
          <p>HeroPlayer1</p>
        </div>
        <div class="col-6">
          <p>HerosPlayer2</p>
        </div>
      </div>
    </div>

    <!-- Colonne heros droite -->
    <div class="col-4">
      <div class="row">
        <div class="col-4 bg-warning">
          <img class="img-fluid" src="{{ heroes[35].images.sm }}">
          <p>{{ heroes[35].name }}</p>
        </div>
        <div class="col-4 bg-secondary">
          <img class="img-fluid" src="{{ heroes[59].images.sm }}">
          <p>{{ heroes[59].name }}</p>
        </div>
        <div class="col-4 bg-warning">
          <img class="img-fluid" src="{{ heroes[69].images.sm }}">
          <p>{{ heroes[69].name }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-4 bg-warning">
          <img class="img-fluid" src="{{ heroes[95].images.sm }}">
          <p>{{ heroes[95].name }}</p>
        </div>
        <div class="col-4 bg-secondary">
          <img class="img-fluid" src="{{ heroes[115].images.sm }}">
          <p>{{ heroes[115].name }}</p>
        </div>
        <div class="col-4 bg-warning">
          <img class="img-fluid" src="{{ heroes[174].images.sm }}">
          <p>{{ heroes[174].name }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 bg-warning">
          <img class="img-fluid" src="{{ heroes[268].images.sm }}">
          <p>{{ heroes[268].name }}</p>
        </div>
        <div class="col-4 bg-secondary">
          <img class="img-fluid" src="{{ heroes[307].images.sm }}">
          <p>{{ heroes[307].name }}</p>
        </div>
        <div class="col-4 bg-warning">
          <img class="img-fluid" src="{{ heroes[529].images.sm }}">
          <p>{{ heroes[529].name }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 bg-warning">
          <img class="img-fluid" src="{{ heroes[472].images.sm }}">
          <p>{{ heroes[472].name }}</p>
        </div>
        <div class="col-4 bg-secondary">
          <img class="img-fluid" src="{{ heroes[486].images.sm }}">
          <p>{{ heroes[486].name }}</p>
        </div>
        <div class="col-4 bg-warning">
          <img class="img-fluid" src="{{ heroes[290].images.sm }}">
          <p>{{ heroes[290].name }}</p>
        </div>
      </div>
    </div>
  </div>
  <button routerLink="/fight">Lancer le combat !</button>