<div class="container">
  <div class="row">

    <!-- Colone heros de gauche -->
    <div class="col-4">
      <div class="row">
        <div class="col-4 bg-warning">
          <p>Heros1</p>
          <!-- <img src="/images/sm/2-abe-sabien.jpg" alt="Abe-Sabien"> -->
        </div>
        <div class=" col-4 bg-secondary ">
          <p>Heros2</p>
          <!-- <img src="/images/sm/3-abin-sur.jpg" alt="Abin-Sur"> -->
        </div>
        <div class="col-4 bg-warning ">
          <p>Heros3</p>
          <!-- <img src="/images/sm/75-beast.jpg" alt="Beast"> -->
        </div>
      </div>

      <div class="row ">
        <div class="col-4 bg-warning ">
          <p>Heros1</p>
          <!-- <img src="/images/sm/263-flash.jpg" alt="flash"> -->
        </div>
        <div class="col-4 bg-secondary ">
          <p>Heros2</p>
          <!-- <img src="/images/sm/273-galactus.jpg" alt="Galactus"> -->
        </div>
        <div class="col-4 bg-warning ">
          <p>Heros3</p>
          <!-- <img src="/images/sm/287-godzilla.jpg" alt="Godzilla"> -->
        </div>
      </div>
      <div class="row ">
        <div class="col-4 bg-warning ">
          <p>Heros1</p>
          <!-- <img src="/images/sm/345-iron-fist.jpg" alt="Iron-Fist"> -->
        </div>
        <div class="col-4 bg-secondary ">
          <p>Heros2</p>
          <!-- <img src="/images/sm/346-iiron-man.jpg" alt="Iron-Man"> -->
        </div>
        <div class="col-4 bg-warning ">
          <p>Heros3</p>
          <!-- <img src="/images/sm/414-loki.jpg" alt="Loki"> -->
        </div>
      </div>
      <div class="row ">
        <div class="col-4 bg-warning ">
          <p>Heros1</p>
          <!-- <img src="/images/sm/471-moonstone.jpg" alt="Moonstone"> -->
        </div>
        <div class="col-4 bg-secondary ">
          <p>Heros2</p>
          <!-- <img src="/images/sm/480-mystique.jpg" alt="Mystique"> -->
        </div>
        <div class="col-4 bg-warning ">
          <p>Heros3</p>
          <!-- <img src="/images/sm/498-odin.jpg" alt="Odin"> -->
        </div>
      </div>
    </div>
    <!-- Colonne heros selectionner -->
    <div class="col-4 bg-success ">
      <div class="row ">
        <div class="col-6 ">
          <p>HeroPlayer1</p>
        </div>
        <div class="col-6 ">
          <p>HerosPlayer2</p>
        </div>
      </div>
    </div>

    <!-- Colonne heros droite -->
    <div class="col-4 ">
      <div class="row ">
        <div class="col-4 bg-warning ">
          <p>Heros1</p>
          <!-- <img src="/images/sm/517-phoenix.jpg" alt="Phoenix"> -->
        </div>
        <div class="col-4 bg-secondary ">
          <p>Heros2</p>
          <!-- <img src="/images/sm/540-rambo.jpg" alt="Rambo"> -->
        </div>
        <div class="col-4 bg-warning ">
          <p>Heros3</p>
          <!-- <img src="/images/sm/581-scorpion.jpg" alt="Scorpion"> -->
        </div>
      </div>

      <div class="row ">
        <div class="col-4 bg-warning ">
          <p>Heros1</p>
          <!-- <img src="/images/sm/652-t-x.jpg" alt="T-X"> -->
        </div>
        <div class="col-4 bg-secondary ">
          <p>Heros2</p>
          <!-- <img src="/images/sm/659-thor.jpg" alt="Thor"> -->
        </div>
        <div class="col-4 bg-warning ">
          <p>Heros3</p>
          <!-- <img src="/images/sm687-venom.jpg" alt="Venom"> -->
        </div>
      </div>
      <div class="row ">
        <div class="col-4 bg-warning ">
          <p>Heros1</p>
          <!-- <img src="/images/sm/729-yoda" alt="Yoda"> -->
        </div>
        <div class="col-4 bg-secondary ">
          <p>Heros2</p>
          <!-- <img src="/images/sm/162-carnage.jpg" alt="Carnage"> -->
        </div>
        <div class="col-4 bg-warning ">
          <p>Heros3</p>
          <!-- <img src="/images/sm/196-cyclops.jpg" alt="Cyclops"> -->
        </div>
      </div>
      <div class="row ">
        <div class="col-4 bg-warning ">
          <p>Heros1</p>
          <!-- <img src="/images/sm/249-exodus.jpg" alt="Exodus"> -->
        </div>
        <div class="col-4 bg-secondary ">
          <p>Heros2</p>
          <!-- <img src="/images/sm/370-joker.jpg" alt="Joker"> -->
        </div>
        <div class="col-4 bg-warning ">
          <p>Heros3</p>
          <!-- <img src="/images/sm/388-kilowog.jpg" alt="Kilowog"> -->
        </div>
      </div>

    </div>
  </div>
  <button routerLink=" /fight ">Lancer le combat !</button>