<div class="container">
  <div class="row">

    <!-- Colone heros de gauche -->
    <div class="col-4">
      <div class="row">
        <div class="col-4 bg-warning">
          <p>Heros1</p>
        </div>
        <div class="col-4 bg-secondary">
          <p>Heros2</p>
        </div>
        <div class="col-4 bg-warning">
          <p>Heros3</p>
        </div>
      </div>

      <div class="row">
        <div class="col-4 bg-warning">
          <p>Heros1</p>
        </div>
        <div class="col-4 bg-secondary">
          <p>Heros2</p>
        </div>
        <div class="col-4 bg-warning">
          <p>Heros3</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 bg-warning">
          <p>Heros1</p>
        </div>
        <div class="col-4 bg-secondary">
          <p>Heros2</p>
        </div>
        <div class="col-4 bg-warning">
          <p>Heros3</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 bg-warning">
          <p>Heros1</p>
        </div>
        <div class="col-4 bg-secondary">
          <p>Heros2</p>
        </div>
        <div class="col-4 bg-warning">
          <p>Heros3</p>
        </div>
      </div>
    </div>
    <!-- Colonne heros selectionner -->
    <div class="col-4 bg-success">
      <div class="row">
        <div class="col-6">
          <p>HeroPlayer1</p>
        </div>
        <div class="col-6">
          <p>HerosPlayer2</p>
        </div>
      </div>
    </div>

    <!-- Colonne heros droite -->
    <div class="col-4">
      <div class="row">
        <div class="col-4 bg-warning">
          <p>Heros1</p>
        </div>
        <div class="col-4 bg-secondary">
          <p>Heros2</p>
        </div>
        <div class="col-4 bg-warning">
          <p>Heros3</p>
        </div>
      </div>

      <div class="row">
        <div class="col-4 bg-warning">
          <p>Heros1</p>
        </div>
        <div class="col-4 bg-secondary">
          <p>Heros2</p>
        </div>
        <div class="col-4 bg-warning">
          <p>Heros3</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 bg-warning">
          <p>Heros1</p>
        </div>
        <div class="col-4 bg-secondary">
          <p>Heros2</p>
        </div>
        <div class="col-4 bg-warning">
          <p>Heros3</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 bg-warning">
          <p>Heros1</p>
        </div>
        <div class="col-4 bg-secondary">
          <p>Heros2</p>
        </div>
        <div class="col-4 bg-warning">
          <p>Heros3</p>
        </div>
      </div>

    </div>

  </div>
  <button routerLink=" /fight ">Lancer le combat !</button>